body {
	background: black;
}

.postcard {
	background: white;
	width: 400px;
	height: 300px;
	margin: auto;
	padding: 10px;
}
.postcard-header {
	display: flex;
	align-items: flex-end;
}
.postcard img {
	width: 50px;
	height: 50px;
}
h1 {
	width: 340px;
	margin: 0px;
	padding: 10px;
}

.postcard-body {
	display: flex;
	padding: 5px;
}
input {
	border: none;
	border-bottom: 2px solid rgb(204, 202, 202);
	padding-top: 10px;
	font-size: 14px;
}

.postcard-footer {
	display: flex;
	justify-content: center;
	align-items: flex-start;
}
button {
	padding: 5px 10px;
	font-size: 16px;
	border-radius: 5px;
	border: none;
}
button:hover {
	background: rgb(204, 202, 202);
}
